<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
<h2>🌿 PlantCare AI</h2>

<nav>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/upload">Get Started</a>
</nav>
</header>

<section>

<h1>About Our Technology</h1>

<p>

This system uses deep learning to detect plant diseases from leaf images.

The model is trained on thousands of plant leaf images.

</p>

</section>

</body>
</html>