<!DOCTYPE html>
<html>
<head>
<title>PlantCare AI</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
<h2>🌿 PlantCare AI</h2>

<nav>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/upload">Get Started</a>
</nav>
</header>

<section class="hero">

<h1>AI Plant Disease Detection</h1>

<p>Upload plant images and detect diseases instantly.</p>

<a href="/upload" class="btn">Start Detection</a>

</section>

<footer>
<p>Smart Bridge Hyderabad</p>
</footer>

</body>
</html>